__pycache__/
*.py[cod]

.venv/
venv/

.vscode
.idea/

.DS_Store
Thumbs.db

*.csv
*.xlsx
*.zip
*.log
*.jpg
*.png
*.pkl
*.json
*.cbm

test.py
test.ipynb
要做的.txt

**/catboost_info/

.gradio

__pycache__/
*.pyc